* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  border: 1px solid red;
  
}

.App {
  margin: 0 auto;
  width: 700px;
}


a {
  text-decoration: none;
  color: black;
}

p.heading {
  font-size: 24px;
  font-weight: 500;
}

.heading {
  border-bottom: 1px solid black;
  opacity: 0.5;

  width: 100%;
}




svg {
  height: 18px;
  vertical-align: middle;
  
}
.email, .phone {
  display: flex;
  gap: 5px;
  align-items: center;

}

form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 40%;
  margin: 15px auto;

}

.edit {
  width: 100px;
  text-align: center;
}

.personal {
  display: flex;
  justify-content: space-between;
 
  
  align-items: center;
}


.edit-btn {
  text-align: end;
  padding-top: 45px;
  width: 100%;

  margin-left: 80px;  
}

 .edu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.exp {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

